*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: violet;
}
.relogio{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(clock.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 20px solid #fff;
    box-shadow: inset 0 0 30px rgba(0,0,0,.1),
                      0 20px 20px rgba(0,0,0,.2),
                      0 0 0 4px rgba(255,255,255,1) ;
}
.relogio::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #848484;
    border: 2px solid #fff;
    z-index: 100000;
    border-radius: 50%;   
}
.horas,.minutos, .segundos{
    position: absolute;
}
.horas, .hr{
    width: 160px;
    height: 160px;
}

.minutos, .mn{
    width: 190px;
    height: 190px;
}
.segundos, .sc{
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #848484;
    z-index: 10;
    border-radius: 6px 6px 0 0;
  }
  .mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #848484;
    z-index: 11;
    border-radius: 6px 6px 0 0;
  }
  .sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #ff6767;
    z-index: 12;
    border-radius: 6px 6px 0 0;
  }

 