body{
    background: rgba(0, 255, 149, 0.699);
    /* font: normal 20px arial; */
}

.cab{
    text-align: center;
    color: rgb(221, 19, 19);
}


.countdownContainer{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   text-align: center;
   background: #ddd; 
   border: 1px solid #999;
   padding: 10px;
   box-shadow: 0 0 5px 3px #ccc;
   width: 700px;
    
}
.info{
    font-size: 80px;

}
