*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(238, 255, 0, 0.76);
 
    
}
#stopwatch{
    background: white;
    border-radius: 10px;
    padding: 5px; 
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
#options{
    margin-left: 17%;
}

.btn{
    padding: 10px;    
    margin:10px ;
    
}

.btn:hover{
    background: red;
    cursor: pointer;
    
}
#timer{
    padding: 20px;
    margin-left: 30%;
   
    font-size: 25pt;
    color: red;
}